@import "ant-design-vue/dist/antd.less";
@slider-margin: .7rem -.9rem 0rem -1.1rem;
@slider-track-background-color: #000000;
@slider-track-background-color-hover: #000000;
@slider-handle-color-focus-shadow: fade(@primary-color, 1%);
@slider-handle-border-width: 0px;
@slider-dot-border-color: #000000;
@slider-dot-border-color-active: #000000;
@slider-handle-background-color: #000000;
@slider-handle-color: #000000;
@slider-handle-color-focus: tint(#ffffff, 100%);
@slider-handle-size: 6px;
@slider-handle-margin-top: -1px;

//important
@font-size-sm: 10px;
@link-color: #d3adf7;
@card-shadow:none