*{
  margin: 0;
  padding: 0;
}

body  {
  padding: 0 !important;
  overflow-y: scroll !important;
  overflow-x: auto !important;
  background: #f7f8f9 !important;

}

html {
  overflow: inherit;
}

#article img{
  max-width: 100%;
}
