
*{
  margin: 0;
  padding: 0;
}

body  {
  padding: 0 !important;
  overflow-y: scroll !important;
  overflow-x: auto !important;
  background: #F4F4F7 !important;

}

html {
  overflow: inherit;
}

#article img{
  max-width: 100%;
}

.content{
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: .8rem;
  transition: all .25s;
  box-sizing: border-box;
  background-color: @bgColor;
  box-shadow: @boxShadow;
}